#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Global Styles */
body {
  font-family: 'Inter', sans-serif;
  background-color: #f8f8f8;
  margin: 0;
  padding: 0;
  color: #1d1d1f;
}



